.greetingText {
  background: #1d24d7; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1d24d7, #d1dbe0); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1d24d7, #d1dbe0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

}